# 3 - 2 Compound Data Types (복합 자료형)

1. 배열형
     - 리스트
     - 튜플 / 네임드 튜플
2. 집합형
     - 셋 / 프로즌 셋 
3. 맵핑형
     - 딕셔너리 / 디폴트 딕셔너리
     - 순서가 있는 디셔너리
4. 얕은 복사와 깊은 복사
5. 순회 연산자와 함수

## 1. 배열형

배열형이란 

: 0개 이상의 객체를 배열형태로 참조하는 자료형
(항목(item)은 순서를 가지고 있음)

순회형 :  순회할 수 있기 때문에 순화가능한 자료형이며 
    - 멤버십 연산자 (in)
    - 크기함수 (len)
    - 분할 [] 가능

가장 많이 사용하는 내장 배열형

문자열, 리스트, 튜플, 등등

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### 1) 리스트
가변형 자료형

In [3]:
number_list = [1,2,3,105,-7,-1.23,-753.999]
string_list = ['a','b','c','python','홍길동']
mixed_list = [True ,'Falese',3.14,'big data','프로그래밍'] 
complex_list = [list(),number_list,mixed_list,['x',3,string_list]]
print()

print(number_list)
print(mixed_list)
print(complex_list)
print()

print(len(complex_list))
print(sum(number_list))
mixed_list[3] = '빅데이터'
print()

print(mixed_list)

s = 'big data'
s[0]
s[0] = 'B'
print()

[1, 2, 3, 105, -7, -1.23, -753.999]
[True, 'Falese', 3.14, 'big data', '프로그래밍']
[[], [1, 2, 3, 105, -7, -1.23, -753.999], [True, 'Falese', 3.14, 'big data', '프로그래밍'], ['x', 3, ['a', 'b', 'c', 'python', '홍길동']]]

4
-651.229

[True, 'Falese', 3.14, '빅데이터', '프로그래밍']

'b'

TypeError: 'str' object does not support item assignment

#### 리스트 생성
- []
- list()

In [6]:
# 예시 1 - 빈 리스트 생성
empty1 = [] #대괄호
print(empty1)

empty2 = list() #리스트 생성자
print(empty2)

[]
[]

In [8]:
# 예시 2 - 리스트 연산자 []로 생성
L = ['Python'] #단일 리스트 만드는 경우
print(L) 
# 가능한 small l(엘)을 만들지 않기!! -> I 와 l이 헷갈리기 때문에 사용하지 말 것을 권장

name = ['뽀빠이','피카추','펠릭스','아톰','미니']
print(name)

['Python']
['뽀빠이', '피카추', '펠릭스', '아톰', '미니']

In [9]:
# 예시 3 - list 생성자로 생성
list1 = list('Korea')
print(list1)

list2 = ['Korea']
print(list2)

['K', 'o', 'r', 'e', 'a']
['Korea']

In [11]:
# len
print(len(empty1))
print(len(empty2))
print(len(L))
print(len(name))
print(len(list1))
print(len(list2))

0
0
1
5
5
1

#### 리스트 항목 접근 : 인덱스
리스트는 배열형 자료구조이기 때문에

문자열과 마찬가지로 각 항목(객체)에 인덱스로 접근가능

In [12]:
#예시1
complex = ['프로도','네오',['라이언','무지','어피치']]
print(len(complex))

print(complex[1])
print(complex[2])
print(complex[2][-1])
print(complex[-1][1][0])

3
네오
['라이언', '무지', '어피치']
어피치
무

리스트 관련 연산자
- (+) : 결합
- (*) : 반복결합연산자
- (+=) : 확장연산자
- [] : 분할연산자
- del : 객체에 대한 참조를 제거하는 연산자 (ex 식별자를 제거)
- in / not in : 멤버십연산자

In [3]:
## 리스트 결합 / 반복결합 연산자

# + 연산자
print('+ 연산자 ')

a = [1,2,3]
b = [4,5,6]

c = a + b
c

d = a,b
d
print(c)
['a','b'] + ['c','d']
print()

# * 연산자
print('* 연산자 ')
print([0]*5)
print([1,2,3]*3)
print()

+ 연산자

[1, 2, 3, 4, 5, 6]

([1, 2, 3], [4, 5, 6])

[1, 2, 3, 4, 5, 6]

['a', 'b', 'c', 'd']

* 연산자
[0, 0, 0, 0, 0]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [3]:
## 리스트 확장 연산자

# += 연산자
# 두 리스트 또는 리스트에 순회형을 병합해서 확장
# 우변에는 순회형이 와야함

L = ['프로도','네오']

L += [307] # 
L


L += '제이지'
print(L)
print() #각 글자마다 분해시켜서 만듦

L[3:] = [] #없애고
L += ['제이지']
print(L)

L += 307 #에러에러

['프로도', '네오', 307]

['프로도', '네오', 307, '제', '이', '지']

['프로도', '네오', 307, '제이지']

TypeError: 'int' object is not iterable

In [2]:
## 리스트 분할 연산자

# []
# 리스트 분할을 통해 객체 추출

s = ['a','b','c','d',['x','y','z'],'e','f']

print(s[1])


print(s[2:5])
print(s[:3])
print(s[-3:])
print(s[:])
print(s)
print()

s[2:4]=['i','j']
print(s)
print()

s[1:2]=['l','m','n'] # 두번째 요소만 슬라이스
print(s)
print()


s[1]=['p','q'] # 두번째 요소만 슬라이스
print(s)
print()


s[1:7]=['s','t']
print(s)
print() # 반복되지 않고 입력된 만큼만 바뀜

b
['c', 'd', ['x', 'y', 'z']]
['a', 'b', 'c']
[['x', 'y', 'z'], 'e', 'f']
['a', 'b', 'c', 'd', ['x', 'y', 'z'], 'e', 'f']
['a', 'b', 'c', 'd', ['x', 'y', 'z'], 'e', 'f']

['a', 'b', 'i', 'j', ['x', 'y', 'z'], 'e', 'f']

['a', 'l', 'm', 'n', 'i', 'j', ['x', 'y', 'z'], 'e', 'f']

['a', ['p', 'q'], 'm', 'n', 'i', 'j', ['x', 'y', 'z'], 'e', 'f']

['a', 's', 't', 'e', 'f']

In [19]:
## 리스트 항목 제거 연산자

#del 객체

s = ['a','b','c','d',['x','y','z'],'e','f']

del s[4][-1]
print(s)
print()

del s[4]
print(s)
print()

del s[1:3]
print(s)
print()

del s[:]
print(s)
print()

['a', 'b', 'c', 'd', ['x', 'y'], 'e', 'f']

['a', 'b', 'c', 'd', 'e', 'f']

['a', 'd', 'e', 'f']

[]

In [23]:
## 멤버십 연산자

# in연산자
# 특정항목이 속해 있는지 존재여부를 확인
# 속해있다면 참을 반환

# not in 연산자
# 특정 항목이 속해 있지 않을 경우
# 참을 반환
friends = ['프로도','네오',['콘','무지','어피치']]
print('프로도' in friends)
print('어피치' in friends)

print('어피치' in friends[-1])

print('네오' not in friends)
print('제이지' not in friends)

True
False
True
False
True

In [25]:
# 특정 단어 / 문자 검색 : 문자열

#멤버십 연산자
# 부분 문자열이 포함되어 있는지 여부를 확인하고 싶은 경우에도 사용가능'

obama = "Don't just play on your phone, program it"
print('j' in obama)
print('b' in obama)
print()

print('program' in obama)
print()

python = '맛있는 파이썬을 즐거운 마음으로 배우자'

print('즐' not in python)
print('파이썬' in python)
print()

True
False

True

False
True

### 리스트 메소드 
    L.append(x)
        - 리스트의 마지막에 항목x을 추가
    L.insert(i,x)
        - 리스트의 인덱스 i에 항목 x룰 ㅅㅂ압
    L.remove(x)
        - 리스트 가장 왼쪽에 있는 항목 (첫번째 항목) x를 제거
            ==> 항목이 존재하지 않을 경우 value error발생
    L.pop()
        - 리스트의 가장 오른쪽에  있는 항목을 반환후 제거
    L.pop(i)
        - 리스트의 인덱스 i에 있는 항목을 반환한 후에 재고ㅓ
    L.extend(m)
    L += m
        - 순회형 m의 모든항목들을 리스트 L의 끝에 추가
    L.index(x,start,end)
        - 리스트에 있는 항목x중 가장 왼쪽에 있는 항목의 인덱스를 반환
        - 리스트의 시작과 끝 인덱스가 정해진 경우에는 인덱스 범위 안에 있는 중 가장 왼쪽에 있는 항목을 반환
            ==> 항목이 없을 경우 valueerror 발생
    L.count(x)
        - 리스트에서 항목x가 몇개 존재하는지 그 개수를 반환
           
    L.reverse()
        - 리스트 내부 순서 거꾸로함
    L.sort 
        - 리스트를 정렬 
        - 내장함수 sorted처럼 key와 value를 선택적으로 사용가능

In [41]:
# 예시 : 리스트 항목 추가 및 제거

friends = []
friends.append('콘')
friends.append('어피치')
print(friends)
print()

friends.insert(1,'무지')
friends
print()

friends.append(['프로도','네오'])
friends.append(['제이지'])
friends
print()

friends.pop()
friends
print()

friends.insert(2,'콘')
friends
print()

# friends.remove('어피치')
# friends
# print()

friends.remove('콘')
friends
print()


friends.pop(2)
friends
friends.remove('어피치')

['콘', '어피치']

['콘', '무지', '어피치']

['콘', '무지', '어피치', ['프로도', '네오'], ['제이지']]

['제이지']

['콘', '무지', '어피치', ['프로도', '네오']]

['콘', '무지', '콘', '어피치', ['프로도', '네오']]

['무지', '콘', '어피치', ['프로도', '네오']]

'어피치'

['무지', '콘', ['프로도', '네오']]

ValueError: list.remove(x): x not in list

In [42]:
# 항목 추가 vs. 항목 확장

friends
boys = ['라이언','튜브']

friends.append(boys)
friends

['무지', '콘', ['프로도', '네오']]

['무지', '콘', ['프로도', '네오'], ['라이언', '튜브']]

In [43]:
friends.pop()

['라이언', '튜브']

In [44]:
friends.extend(boys)
friends

['무지', '콘', ['프로도', '네오'], '라이언', '튜브']

In [45]:
friends.insert(3,'무지')
friends

['무지', '콘', ['프로도', '네오'], '무지', '라이언', '튜브']

In [46]:
friends.reverse()
friends.index('콘')
friends

4

['튜브', '라이언', '무지', ['프로도', '네오'], '콘', '무지']

In [47]:
#리스트 질의
#friends.count['프로도']
friends[3].count('프로도')
friends.pop(3)
friends.sort()3
friends

1

['프로도', '네오']

['라이언', '무지', '무지', '콘', '튜브']

In [48]:
','.join(friends)

'라이언,무지,무지,콘,튜브'

In [4]:
# 일반형식과 리스트 축약
int_str1 = []
for i in range(1,10):
    int_str1.append(str(i))
    
int_str2 = [str(i) for i in range(1,10)]

int_str1
int_str2

['1', '2', '3', '4', '5', '6', '7', '8', '9']

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [51]:
# 조건문이 있는 일반형식과 리스트 축약
int_str_odd1 = []

for i in range(1,10): 
    if i % 2 == 1 :
        int_str_odd1.append(str(i))
    
int_str_odd2 = [str(i) for i in range(1,10) if i % 2 == 1]

int_str_odd1
int_str_odd2

['1', '3', '5', '7', '9']

['1', '3', '5', '7', '9']

In [9]:
odd_integers = [i for i in range(10) if i % 2 ==  1]
squares =  [pow(i,2) for i in odd_integers]

odd_integers
squares

[1, 3, 5, 7, 9]

[1, 9, 25, 49, 81]

In [55]:
# 모든 값이 0 인 벡터 생성
import numpy
zeroes1 = list(numpy.zeros(10, dtype = numpy.int))
zeroes2 = [0]*10
zeroes3 = [0 for _ in range(10)]

zeroes1
zeroes2
zeroes3

ModuleNotFoundError: No module named 'numpy'

In [99]:
# 예시 중첩리스트 축약
pairs = dict(((x,y),x*y) for x in range(2,10) for y in range(1,10))
# pairs

# k = enumerate(pairs)
for i,j in pairs.items(): #그냥 pair시에는 디폴트 key
#     print(i,j)
    print( '구구단을 외자 : {}x{}={}'.format(i[0],i[1],j))
    if i[1] == 9:
        print()

구구단을 외자 : 2x1=2
구구단을 외자 : 2x2=4
구구단을 외자 : 2x3=6
구구단을 외자 : 2x4=8
구구단을 외자 : 2x5=10
구구단을 외자 : 2x6=12
구구단을 외자 : 2x7=14
구구단을 외자 : 2x8=16
구구단을 외자 : 2x9=18

구구단을 외자 : 3x1=3
구구단을 외자 : 3x2=6
구구단을 외자 : 3x3=9
구구단을 외자 : 3x4=12
구구단을 외자 : 3x5=15
구구단을 외자 : 3x6=18
구구단을 외자 : 3x7=21
구구단을 외자 : 3x8=24
구구단을 외자 : 3x9=27

구구단을 외자 : 4x1=4
구구단을 외자 : 4x2=8
구구단을 외자 : 4x3=12
구구단을 외자 : 4x4=16
구구단을 외자 : 4x5=20
구구단을 외자 : 4x6=24
구구단을 외자 : 4x7=28
구구단을 외자 : 4x8=32
구구단을 외자 : 4x9=36

구구단을 외자 : 5x1=5
구구단을 외자 : 5x2=10
구구단을 외자 : 5x3=15
구구단을 외자 : 5x4=20
구구단을 외자 : 5x5=25
구구단을 외자 : 5x6=30
구구단을 외자 : 5x7=35
구구단을 외자 : 5x8=40
구구단을 외자 : 5x9=45

구구단을 외자 : 6x1=6
구구단을 외자 : 6x2=12
구구단을 외자 : 6x3=18
구구단을 외자 : 6x4=24
구구단을 외자 : 6x5=30
구구단을 외자 : 6x6=36
구구단을 외자 : 6x7=42
구구단을 외자 : 6x8=48
구구단을 외자 : 6x9=54

구구단을 외자 : 7x1=7
구구단을 외자 : 7x2=14
구구단을 외자 : 7x3=21
구구단을 외자 : 7x4=28
구구단을 외자 : 7x5=35
구구단을 외자 : 7x6=42
구구단을 외자 : 7x7=49
구구단을 외자 : 7x8=56
구구단을 외자 : 7x9=63

구구단을 외자 : 8x1=8
구구단을 외자 : 8x2=16
구구단을 외자 : 8x3=24
구구단을 외자 : 8x4=32
구구단을 외자 : 8x5=40
구구단을 외자 : 8x6=48
구구단을 외자 : 8x7=56
구구단을 외자 : 8x8=64
구구단을 외자 : 8x9=72

구구단을 외자 : 9x1=9
구구단을 외자 : 9x2=18
구구단을 외자 : 9x3=27
구구단을 외자 : 9x4=36
구구단을 외자 : 9x5=45
구구단을 외자 : 9x6=54
구구단을 외자 : 9x7=63
구구단을 외자 : 9x8=72
구구단을 외자 : 9x9=81

In [107]:
# triples = [(x,y,x*y) for x in range(2,10) for y in range(1,10)]
# for x,y,z in triples:
#     for y in range(1,10):
#         print('{}x{}={}'.format(x,y,z), end=' ')
#         if y == 9:
#             print()]
            
            
for y in range(1,10):
    for x in range(2,10):
        print('{}x{}={}'.format(x,y,x*y), end=' ')
        if x == 9:
            print()

2x1=2 3x1=3 4x1=4 5x1=5 6x1=6 7x1=7 8x1=8 9x1=9
2x2=4 3x2=6 4x2=8 5x2=10 6x2=12 7x2=14 8x2=16 9x2=18
2x3=6 3x3=9 4x3=12 5x3=15 6x3=18 7x3=21 8x3=24 9x3=27
2x4=8 3x4=12 4x4=16 5x4=20 6x4=24 7x4=28 8x4=32 9x4=36
2x5=10 3x5=15 4x5=20 5x5=25 6x5=30 7x5=35 8x5=40 9x5=45
2x6=12 3x6=18 4x6=24 5x6=30 6x6=36 7x6=42 8x6=48 9x6=54
2x7=14 3x7=21 4x7=28 5x7=35 6x7=42 7x7=49 8x7=56 9x7=63
2x8=16 3x8=24 4x8=32 5x8=40 6x8=48 7x8=56 8x8=64 9x8=72
2x9=18 3x9=27 4x9=36 5x9=45 6x9=54 7x9=63 8x9=72 9x9=81

In [110]:
triples = [(x,y,z) for x in range(1,10)
          for y in range(x+1,10)
          for z in range(y+1,10,x+1)]
triples

[(1, 2, 3),
 (1, 2, 5),
 (1, 2, 7),
 (1, 2, 9),
 (1, 3, 4),
 (1, 3, 6),
 (1, 3, 8),
 (1, 4, 5),
 (1, 4, 7),
 (1, 4, 9),
 (1, 5, 6),
 (1, 5, 8),
 (1, 6, 7),
 (1, 6, 9),
 (1, 7, 8),
 (1, 8, 9),
 (2, 3, 4),
 (2, 3, 7),
 (2, 4, 5),
 (2, 4, 8),
 (2, 5, 6),
 (2, 5, 9),
 (2, 6, 7),
 (2, 7, 8),
 (2, 8, 9),
 (3, 4, 5),
 (3, 4, 9),
 (3, 5, 6),
 (3, 6, 7),
 (3, 7, 8),
 (3, 8, 9),
 (4, 5, 6),
 (4, 6, 7),
 (4, 7, 8),
 (4, 8, 9),
 (5, 6, 7),
 (5, 7, 8),
 (5, 8, 9),
 (6, 7, 8),
 (6, 8, 9),
 (7, 8, 9)]

In [22]:
sku = [gender + size + color 
       for gender in 'FM' 
       for size in 'SMLX' if not( gender == 'F' and size == 'X' )  
       for color in 'WGRB']
sku

['FSW',
 'FSG',
 'FSR',
 'FSB',
 'FMW',
 'FMG',
 'FMR',
 'FMB',
 'FLW',
 'FLG',
 'FLR',
 'FLB',
 'MSW',
 'MSG',
 'MSR',
 'MSB',
 'MMW',
 'MMG',
 'MMR',
 'MMB',
 'MLW',
 'MLG',
 'MLR',
 'MLB',
 'MXW',
 'MXG',
 'MXR',
 'MXB']

In [25]:
sku = [gender + size + color 
       for gender in 'FM' 
       for size in 'SMLX' 
       for color in 'WGRB' 
       if not( gender == 'F' and size == 'X' )]
print(sku)
sku

['FSW', 'FSG', 'FSR', 'FSB', 'FMW', 'FMG', 'FMR', 'FMB', 'FLW', 'FLG', 'FLR', 'FLB', 'MSW', 'MSG', 'MSR', 'MSB', 'MMW', 'MMG', 'MMR', 'MMB', 'MLW', 'MLG', 'MLR', 'MLB', 'MXW', 'MXG', 'MXR', 'MXB']

['FSW',
 'FSG',
 'FSR',
 'FSB',
 'FMW',
 'FMG',
 'FMR',
 'FMB',
 'FLW',
 'FLG',
 'FLR',
 'FLB',
 'MSW',
 'MSG',
 'MSR',
 'MSB',
 'MMW',
 'MMG',
 'MMR',
 'MMB',
 'MLW',
 'MLG',
 'MLR',
 'MLB',
 'MXW',
 'MXG',
 'MXR',
 'MXB']

### 2) 튜플
#### # 불변자료형
생성한 후 담고 있는 객체 변경이 불가

순서를 가지는 0개 이상의 배열형

각항목은

#튜플생성

In [111]:
#빈튜플생성

empty1=()
empty1

empty2 = tuple()
empty2

()

()

In [112]:
#튜플연산자로 ()생성
T = ('파이썬',)
T

family = ('엄마','아빠','나','동생')
family

('파이썬',)

('엄마', '아빠', '나', '동생')

In [115]:
len(empty1)
len(empty2)
len(T)
len(family)

0

0

1

4

In [117]:
t = 'a','b','c',
t

('a', 'b', 'c')

In [4]:
# 단일 항목의 경우
# 붙은 쉼표가 반드시 있어야 함

t1 = ('파이썬',)
t2 = ('파이썬')
t3 = '파이썬',
t4 = '파이썬'

type(t1)
type(t2)
type(t3)
type(t4)

tuple

str

tuple

str

In [8]:
# 튜플 생성시 주의 사항 : 복수항목의 경우
# 마지막 항목에 붙은 쉼표는 불필요

t5 = (1,2,3,)
len(t5)

t6 = (1,2,3)
t7 =1,2,3
t8 = 'a','b','c'

len(t6)

# 정의한 튜플을 불렀을 때 아웃풋을 무조건 괄호로 묶음
t5
t8

3

3

(1, 2, 3)

('a', 'b', 'c')

In [13]:
alist = [1,-7,1.23]
atuple = ('토','일',True)
comp = (tuple(),alist,'드럼',atuple,[])
len(comp)

comp

type(comp)
comp[-2][-1]

atuple *2

5

((), [1, -7, 1.23], '드럼', ('토', '일', True), [])

tuple

True

('토', '일', True, '토', '일', True)

In [ ]:
# 튜플 대입
우변의 값을 좌변의 변수에 할당하는 과정

좌변 = 변수튜플
우변 = 표현식 투플 문자열과 리스트 강ㅌ은 배열햐ㅕㅇ 자료도 가능

두변수 간의 값을 서로 바꿀때 유용

In [18]:
# 예시 튜플대입
i,j,k='드럼','기타','피아노'
print(i,j,k)

i,j = j,i
print(i,j,k)

# 갯수 맞지 않으면 error
mail='bjw419@gmail.com'
username ,domain = mail.split('@')
username
domain

드럼 기타 피아노
기타 드럼 피아노

'bjw419'

'gmail.com'

In [21]:
#더미변수와 튜플대입

x,_,y,_ = 1,2,3,4

x
y
_

1

3

4

In [26]:
# 튜플 패킹과 언패킹
k = 1,[2,2,'dd'],{},('s',)
a,b,c,d = k
a
b
c
d

1

[2, 2, 'dd']

{}

('s',)

In [30]:
# 배열형 패킹 언패킹 연산자 

# * (패킹)
# 대입문의 좌변 변수에 위치
# 리스트로 나머지 대입

x,y,*z = 3.14,2,'d',[1,2,3],{}
z

#언패킹 *변수이름 -> 튜플로 대입

def multiply(x,y,z):
    return x*y*z

multiply(2,3,5)
numbers = 2,3,5
multiply(*numbers)

['d', [1, 2, 3], {}]

30

30

## 네임드튜플
collections 모듈에서 불렁호가를 해야함

투플내 각항목을 필드이름 또는 인덱스 위치로 참조 가능

In [35]:
from collections import namedtuple
RGBtuple = namedtuple('RGB',['red','green','blue'])
RGBtuple

x =  RGBtuple(0,blue=204,green=51)
x
# x =  RGBtuple(blue=204,red=51,0)

__main__.RGB

RGB(red=0, green=51, blue=204)

In [36]:
x[0]

0

In [38]:
x.blue

204

In [43]:
# %%!네임드 튜플의 선택 전달인자 활용
from collections import namedtuple
pythoncourse = namedtuple('student',
                         'id,name,name,exam,exam,grade',
                         rename=True)
pythoncourse

s = pythoncourse('12345','홍','길동',91,95,'A0')
s

__main__.student

student(id='12345', name='홍', _2='길동', exam=91, _4=95, grade='A0')

In [46]:
# 네임드 튜플의 속성과 메소드 활용
from collections import namedtuple
National = namedtuple('국경일','name month day')
National

han = National('한글날','10월','9일')
han

__main__.국경일

국경일(name='한글날', month='10월', day='9일')