## 3. Casting

### class of object

1) 벡터와 
2) 데이터 프레임과 리스트는 같다

데이터 프레임이 가지는 장점
=> r c 인덱싱이 가능

In [23]:
a = c(1:3,"a")
class(a)
b = vector('list',length = 4)
b[1:4] = 1:4
#b = unlist(b)
#리스트는 
c = c(rep('c',4))

data.frame(a,b,c)

[1] "character"

  a X1L X2L X3L X4L c
1 1 1   2   3   4   c
2 2 1   2   3   4   c
3 3 1   2   3   4   c
4 a 1   2   3   4   c

In [18]:
c = c(rep('c',3))
c

[1] "c" "c" "c"

In [7]:
a = matrix(1:10,5,2)
print(a[c(1,3,5),])

print(a[c(T,F,T,F,T),])

     [,1] [,2]
[1,]    1    6
[2,]    3    8
[3,]    5   10
     [,1] [,2]
[1,]    1    6
[2,]    3    8
[3,]    5   10

리스트가 데이터 프레임에 비해 가지는 장점


데이터 프레임 = 열이 똑같은 길이를 가져야 하고
벡터 형태로 표현되어 있어야 하는 단점을 가짐
리스트는 뭐든 가능

In [27]:
#18페이지
# 매트릭스의 구조를 풀고 싶음

a = matrix(1:10,5,2)
b = c(a)
str(b) #매트릭스의 구조가 사라짐

 int [1:10] 1 2 3 4 5 6 7 8 9 10

In [40]:
print(a[,-1,drop = F])

# col 매트릭스를 바꿀때는 관습적으로 drop 함수를 사용

print(drop((a[,-1,drop = F])))

     [,1]
[1,]    6
[2,]    7
[3,]    8
[4,]    9
[5,]   10
[1]  6  7  8  9 10

In [43]:
?drop

In [42]:
ad = a[,-1,drop = F]
class(ad)
typeof(ad)
ad

# col 매트릭스를 바꿀때는 관습적으로 drop 함수를 사용
add = drop(a[,-1,drop = F]) #drop이라는 함수자체가 매트릭스를 벡터로 바꾸는 함수
add
class(add)
typeof(add)

[1] "matrix"

[1] "integer"

     [,1]
[1,]  6
[2,]  7
[3,]  8
[4,]  9
[5,] 10

[1]  6  7  8  9 10

[1] "integer"

[1] "integer"

벡터를 펙터로 바꾸기

vector → factor: as.factor()

In [15]:
a = c("tommy", "jimmy", "jane")
b = as.factor(a) #as.factor로 정할때 입력된 순서대로
# 레벨이 정해지는 것이 아닌 사전편찬식으로 유니크 캐릭터 벡터를 정렬

print(b) #factor형으로 바꿈

# factor -> integer vector(정수형==> 팩터는 정수다!)
c(b)

[1] tommy jimmy jane
Levels: jane jimmy tommy

[1] 3 2 1

as.matrix() #데이터 프레임이 매트릭스로 변환 가능한 경우에는 매트릭스로 변환해줘

In [50]:
a = 1:9
b = as.matrix(a,nrow = 3)
b

      [,1]
 [1,] 1
 [2,] 2
 [3,] 3
 [4,] 4
 [5,] 5
 [6,] 6
 [7,] 7
 [8,] 8
 [9,] 9

In [20]:
a = data.frame(1,2)
b = as.matrix(a)
b
class(b)

     X1 X2
[1,] 1  2

[1] "matrix"

In [23]:
a = data.frame(v1 = 1,v2 = 'a')
b = as.matrix(a)
print(b) 
class(b)# 데이터 프레임을 매트릭스로 강제로 캐스팅하지만

b[1,1] + 1 # 연산은 되지 않음

     v1  v2
[1,] "1" "a"

[1] "matrix"

ERROR: Error in b[1, 1] + 1: 이항연산자에 수치가 아닌 인수입니다

In [24]:
a = data.frame(v1 = 1,v2 = 'a',v3 = FALSE)
b = as.matrix(a)
print(b) 
class(b)# 데이터 프레임을 매트릭스로 강제로 캐스팅하지만

b[1,1] + 1 # 연산은 되지 않음

     v1  v2  v3
[1,] "1" "a" "FALSE"

[1] "matrix"

ERROR: Error in b[1, 1] + 1: 이항연산자에 수치가 아닌 인수입니다

=> 오브젝트 변환 시 데이터 파일이 어떻게 변환될 것인지 알 수 있어야 함

매트릭스는 똑같은형태의 데이터로 바꿀수 밖에 없음

가장 메모리 사이즈를 많이 차지하는 캐릭터로 바꾸게 됨


코딩상 버그를 나타낼 수 있는 '타입 자동변환'

저장/변환/복사 시 타입 유지

In [34]:
a = list()
for (i in 1:5) a[[i]] = i
b = unlist(a)
b

[1] 1 2 3 4 5

### matrix → data.frame: as.data.frame()

매트릭스에서 이름

In [39]:
a = matrix(1:10,5,2)
colnames(a) = c('x1','x2') # 열의 이름을 붙이는 함수
rownames(a) <- c('r1','r2','r3','r4','r5')
a

   x1 x2
r1 1   6
r2 2   7
r3 3   8
r4 4   9
r5 5  10

In [51]:
#간단한 이름 - 붙이기 위해 paste 함수
paste0('r',1:10) #recycle 작동
# 캐릭터 r 벡터가 짧기 때문에 

a = matrix(1:10,5,2)
colnames(a) = paste0('x',1:2) # 열의 이름을 붙이는 함수
rownames(a) <- paste0('r',1:5)
a

paste('r',1:5,sep="~") # 케릭터 변환문과 비슷

 [1] "r1"  "r2"  "r3"  "r4"  "r5"  "r6"  "r7"  "r8"  "r9"  "r10"

   x1 x2
r1 1   6
r2 2   7
r3 3   8
r4 4   9
r5 5  10

[1] "r~1" "r~2" "r~3" "r~4" "r~5"

In [53]:
?names

#### 데이터 프레임의 col name관리
names 로

In [54]:
b = as.data.frame(a)
colnames(a)
b

names(b) = paste0('v',1:2)
print(b)

names(b)

[1] "x1" "x2"

   v1 v2
r1  1  6
r2  2  7
r3  3  8
r4  4  9
r5  5 10

[1] "v1" "v2"

names(b) 참조하는 위치에 이 값을 넣어라! / rownames(a) 참조하는 값을 프린트 하여라

### data.frame → list: unclass()
R에서는 s3. class 를 많이 사용 (리스트와 비슷!)
$ 로 인덱싱하는 모든 형식 s3 class
자유로운 형태? => 구체적인 형태 지정하지 않아도 ok

s4의 경우 @ 로 인덱싱
강제적인 형태

"데이터 프레임은 인덱싱을 할 수 있는 기능을 가진 s3. class"

모든 s3 class에 unclass 적용시,
리스트로 변환됨

In [51]:
a = matrix(1:10,5,2)
b = as.data.frame(a)
b = unclass(b)
class(b)

[1] "list"